@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,100..900;1,125,100..900&display=swap");
@stylex stylesheet;

:root,
html,
body {
  margin: 0px;
  height: 100%;
  background-color: #fffcf7;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
}

input,
button {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

h2 {
  margin: 0;
}
